@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    * {
        box-sizing: border-box;
        font-family: 'Poppins';
        scroll-behavior: smooth;
        padding: 0;
        margin: 0;
    }
    #toggle:checked + div label .top {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: 8px;
    }

    #toggle:checked + div label .mid {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: 0;
    }

    #toggle:checked + div label .bottom {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    #toggle:checked ~ .dropdown-menu {
        height: 200px;
    }

}